* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 14px;
}

.page {
  width: 1470px;
  height: 960px;
  margin: 0 auto;
  background-image: url("../../img/html/snapedit_1701874861222.png");
  position: relative;
}
.page .headerProduct {
  width: 600px;
  height: 50px;
  top: 78px;
  left: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page .headerProduct h1 {
  color: #FFFFFF;
  font-size: 1.5rem;
}
.page main {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  padding: 5%;
}
.page main .containerMain {
  width: 100%;
  height: 100%;
}
.page main .containerMain .listProduct {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin-top: 5%;
}
.page main .containerMain .listProduct .selectAllProducts {
  width: 100%;
  height: 8%;
  background-color: #131313;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
}
.page main .containerMain .listProduct .selectAllProducts input[type=checkbox] {
  width: 2G0px;
  height: 20px;
}
.page main .containerMain .listProduct .selectAllProducts h5 {
  color: #FFFFFF;
}
.page main .containerMain .listProduct .selectAllProducts .ti-trash {
  color: #FFFFFF;
  font-size: 2rem;
}
.page main .containerMain .listProduct .selectAllProducts .ti-trash:active {
  color: #585353;
}
.page main .containerMain .listProduct table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.page main .containerMain .listProduct table th {
  padding: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #F7C427;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Bitter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.page main .containerMain .listProduct table td {
  border-bottom: 2px solid #FFFFFF;
  padding: 20px;
  text-align: center;
  word-wrap: break-word;
  color: #FFFFFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Bitter;
  font-style: 1rem;
  font-weight: 700;
  line-height: normal;
}
.page main .containerMain .listProduct table td input[type=checkbox] {
  width: 15px;
  height: 20px;
}
.page main .containerMain .listProduct table td img {
  width: 100%;
  height: 100%;
}
.page main .containerMain .listProduct table td input[type=number] {
  width: 53px;
  height: 25px;
  text-align: center;
  font-size: 1rem;
  background: transparent;
  outline: none;
  color: #FFFFFF;
}
.page main .containerMain .listProduct table td i {
  color: #FFFFFF;
  font-size: 1.5rem;
}
.page main .containerMain .listProduct table td i:active {
  color: #585353;
}
.page main .containerMain .listProduct table td input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #FFFFFF;
  caret-color: #FFFFFF;
  color: #FFFFFF;
}
.page main .containerMain .listProduct table td input:-webkit-autofill,
.page main .containerMain .listProduct table td input:-webkit-autofill:hover,
.page main .containerMain .listProduct table td input:-webkit-autofill:focus,
.page main .containerMain .listProduct table td input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #FFFFFF;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px transparent;
}
.page main .containerMain .listProduct:hover {
  overflow-x: auto;
}
.page main .containerMain .listProduct::-webkit-scrollbar {
  background-color: transparent;
}
.page main .containerMain .listProduct::-webkit-scrollbar-thumb {
  background-color: transparent;
  width: 1px;
  border-radius: 100px;
}
.page aside {
  width: 100%;
  height: 40%;
  padding: 0 4%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-image: url("../../img/html/snapedit_1701874861222.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page aside .mainAside {
  width: 50%;
  height: 100%;
}
.page aside .mainAside h1 {
  color: #FFFFFF;
  font-size: 2rem;
  margin: 10% 0;
}
.page aside .mainAside ul {
  width: 100%;
  height: 100%;
}
.page aside .mainAside ul li {
  list-style-type: none;
  color: #FFFFFF;
  font-size: 1rem;
  margin: 4% 0;
}
.page aside .footerAside {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.page aside .footerAside h1 {
  color: #FFFFFF;
  font-size: 1.5rem;
  margin: 3% 0;
}
.page aside .footerAside button {
  width: 35%;
  height: 25%;
  font-size: 1rem;
  border: none;
  outline: none;
  transition: 1s linear;
}
.page aside .footerAside button:hover {
  background-color: #585353;
  color: #FFFFFF;
  transition: 1s linear;
  border-radius: 10px;
  cursor: pointer;
}/*# sourceMappingURL=Cart.css.map */